// Breakpoints
$SM: 480px;
$MD: 768px;
$LG: 1200px;

// Cursors
$Default-cursor: url("./assets/cursor.cur"), auto;
$Pointer: url("./assets/pointer.cur"), pointer;

// Text
$Text-shadow-1: 0px 0px 3px var(--color-1);
$Text-shadow-2: 0px 0px 3px var(--color-5);
