$box: 0px 0px 13px 0px rgba(0, 128, 0, 1);
$box-alternate: 0px 0px 13px 0px rgba(0, 0, 0, 1);

.skills-title {
    font-size: 2.5vw;
}

.skills-row {
    display: flex;
    justify-content: space-around;
    margin: 30px 0px;
}

.skill-box {
    border: green solid 1px;
    -webkit-box-shadow: $box;
    -moz-box-shadow: $box;
    box-shadow: $box;
    background-color: #0080001a;
    border-radius: 10%;
    margin-top: 5vh;
}

.skill-box-2 {
    @extend .skill-box;
    border-radius: 5%;
}

.green-fill {
    fill: green;
}

.typescript-2 {
    fill: #000000e6
}


.materialize-2 {
    fill: #00ca00;
}

.skill-size {
    font-size: 70px;
    width: 60px;
    height: 70px;
}

// ====== Alternate classes ======

.skill-box-alternate {
    border: black solid 1px;
    -webkit-box-shadow: $box-alternate;
    -moz-box-shadow: $box-alternate;
    box-shadow: $box-alternate;
    background-color: #0000001a;
    border-radius: 10%;
    margin-top: 5vh;
}

.skill-box-2-alternate {
    @extend .skill-box-alternate;
    border-radius: 5%;
}

.green-fill-alternate {
    fill: black;
}

.typescript-2-alternate {
    fill: rgba(255, 255, 255, 0.802)
}

.materialize-2-alternate {
    fill: #00000080;
}

// ====== @media screen ======

@media screen and (min-width: 992px) {

    .skill-box-2,
    .skill-box-2-alternate {
        margin-top: 11vh;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {

    .skill-box-2,
    .skill-box-alternate {
        font-size: 14px;
    }
}

@media screen and (max-width: 992px) {
    .skills-title {
        font-size: 8vw;
    }
}

@media screen and (max-width: 600px) {

    .skills-title {
        font-size: 9vw;
    }

    .skills-row {
        margin: 20px 0px;
    }

    .skill-size {
        width: 50px;
        height: 60px;
        font-size: 60px;
    }

}